*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #000;
  overflow: hidden;
}

#notes{
  font-size: 100px;
  position: absolute;
  color: #000000;
  left: 50%;
  top: 50%;
}

